# Inputs

# Define a CIDR block
#
# cidr_block = "10.1.0.0/16"

# Define a region
#
# region = "us-east-1"

# Define a project name
#
# project_name = "my-project"

# Define a version of the eks cluster
#
# eks_version = "1.31"

# Define a list of tags
#
# tags = {
#   organization = "organization-name",
#   department   = "departament-name",
#   environment  = "environment-name",
#   created-by   = "created-by-name"
# }